body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.container {
  text-align: center;
  padding: 30px 30px;
  display: flex;
  flex-direction: column;
  align-content: center;
}

ul.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}


.form-container {
  display: flex;
  justify-content: space-around;
  align-content: center;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}

.form-container .form-select {
  max-width: 200px;

}

.filters-container {
  display: flex;
  flex-direction: column;
}

.error {
  position: relative;
  color: red;
  text-align: center;
}